* text=auto

*.c text eol=lf
*.cc text eol=lf
*.cpp text eol=lf
*.cxx text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
*.json text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.qrc text eol=lf
*.svg text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.inc text eol=lf
LICENSE text eol=lf

*.cmd text eol=crlf
*.ps1 text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.ttf binary
*.woff binary
